<div class="container">
  <div class="border">
    <a routerLink="/campaigns/create">
      <button class="btn btn-md btn-outline-primary">
        <i class="fa fa-plus"></i>New Campaign</button>
    </a>

  </div>
  <table mdbTable hover="true">
    <thead>
    <tr>
      <th *ngFor="let head of headElements" scope="col">{{ head }} </th>
    </tr>
    </thead>
    <tbody>
    <tr mdbTableCol *ngFor="let campaign of campaigns">
      <th scope="row">{{ campaign.id }}</th>
      <td>{{ campaign.descritpion }}</td>
      <td>{{ campaign.campaignGoal }}</td>
      <td>{{ campaign.currentAmmount }}</td>
      <td>
        <button class="btn btn-sm btn-info">
          <i class="fa fa-search"></i>Details</button>
        <button class="btn btn-sm btn-warning">
          <i class="fa fa-edit"></i>Edit</button>
        <button class="btn btn-sm btn-danger" (click)="onDelete(campaign.id)">
          <i class="fa fa-remove"></i>Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
